body {
  font-family: Arial;
  background: #fafafa;
  text-align: center;
  padding: 20px;
}

.hero {
  padding: 20px;
}

.couple-img {
  width: 200px;
  border-radius: 15px;
}

input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.flash {
  padding: 10px;
  background: #c7ffd4;
  border: 1px solid #00a03e;
  margin-bottom: 10px;
}
